.search-box {
  background: transparent;
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 10vh;
}
.search-box > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gm-style-mtc, .gm-fullscreen-control, .gm-svpc {
  display: none;
}

.location-search-input{
  width: 30%;
  height: 30px;
}
.autocomplete-dropdown-container {
  width: 30%;
}

@media (max-width: 600px) { 
  .location-search-input, .autocomplete-dropdown-container{
    width: 90%;
  }
}
